@import './vars';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/utilities/_spacing.scss';
@import '../../node_modules/bootstrap/scss/utilities/_display.scss';

* {
  box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
	line-height: 1.2;
	font-size: $font_size;
  font-weight: normal;
  font-family: $default_family;
  overflow-x: auto;
  opacity: 1;
}

img, video {
  max-width: 100%;
}

a {
  color: $text_color;
  text-decoration: none;

  &:hover {
    color: $text_color;
    text-decoration: none;
  }

  .inverse & {
    color: #fff;
    
    &:hover {
      color: #fff;
    }
  }  
}

input, button, textarea, a {
  &, &:hover, &:focus {
    outline: none;
  }
}

p {
	margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.inverse {
  color: #fff;
}

.accent {
  color: $accent;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.word {
  white-space: nowrap;
}

.break {
  display: block;
}

.text {
  &-phone {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.hamburger {
  background-color: #fff;
  padding: 10px;
	line-height: 0;
  display: none;
  margin-left: 20px;
	    
  &-box {
    width: 30px;
  }

  &-inner {
    &, &:after, &:before {            
      border-radius: 0;
      width: 100%;
      height: 2px;        
    }

    & {
      margin-top: -1px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: -7px;
    }
  }
}

.grow {
  flex-grow: 1;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.call-me {
  position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
	cursor: pointer;
  @include circle(50px);
  background-color: #58ea00;
  cursor: pointer;
  display: none;

  .fa {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 1px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.Прямоугольник_2 {
  background-color: rgb(198, 168, 117);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 614px;
  top: 5944px;
  width: 200px;
  height: 41px;
  z-index: 449;
}


.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  background-color:$accent;
  box-shadow: 0px 4px 4px 0px rgba(47, 39, 25, 0.3);
  color: #fff !important;
  white-space: nowrap;
  border: none;
  cursor: pointer;

  &:hover {
    background-color:darken($accent, 10%);
  }    

  &:active {
    top: 1px;
  }
}

.input-div {
  position: relative;
  
  .input, .textarea {
    width: 100%;  
  }
}


.input, .textarea {
  color: $text_color;
  font-size: 12px;
  line-height: inherit;
  border: 1px solid #cecdcc;
  background-color: transparent;
  font-family: $default_family, sans-serif;
  padding: 11.5px 20px 11.5px 20px;   

  &.error {
    border-color: red;
    color: red;

    &+.error-message {
      display: block;
    }
  }

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 20px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #8d8d8c;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #8d8d8c;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #8d8d8c;
		opacity: 1;
  }
  
  .inverse & {
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    
    &::-moz-placeholder {
      color: #fff;
    }
    
    &:-ms-input-placeholder {
      color: #fff;
    } 
  }
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.textarea {
  height: 114px;
}

.form {
  position: relative;  
    
  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .input-div, .button {
    margin-bottom: 10px;
  }

  &__info {
    font-size: 10px;
    text-align: left;
  }

  &--horizontal {
    .form {
      &__content, &__info {
        max-width: 800px;
        margin: 0 auto;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .input-div {
      margin-right: 20px;
    }
  }

  &--vertical {
    max-width: 300px;
    
    .form {
      &__content {
        max-width: 260px;
        margin: 0 auto;    
      }

      &__info {
        color: #fffffe;
        margin-bottom: 15px;
      }
    }

    .button {
      width: 100%;
      padding: 12.5px 25px;
    }
  }
}

.owl-carousel {
	.owl {
    &-stage {
      display: flex;
    }

    &-item {
      float: none;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
        margin: 0 auto;
      }
    }	

    &-dots {
      position: relative;
      text-align: center;
      margin-top: 15px;
    }
    
    &-dot {
      width: 16px;
      height: 16px;
      background: $accent !important;
      margin: 0 5px;
      border-radius: 50%;

      &.active {
        background: darken($accent, 15%) !important;
      } 
    }
	}
}

.owl {
  &-nav {
    display: flex;
  }

  &-prev, &-next {
    display: block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    outline: 0;
    z-index: 10;

    &.disabled {
      cursor: default;
    }
  }    
      
  &-prev {
    margin-right: 10px;
    background-image: url('../img/arrow-left.jpg') !important;

    &.disabled {
      background-image: url('../img/arrow-left-disabled.jpg') !important;
    }
  }

  &-next {
    background-image: url('../img/arrow-right.jpg') !important;
    
    &.disabled {
      background-image: url('../img/arrow-right-disabled.jpg') !important;
    }
  }
}

.remodal {
  text-align: left;
  color: $text_color;
  max-width: 80%;

  &-close {
    left: auto;
    right: 0;
    color: $text_color;
    z-index: 20;
    &--white {
      &, &:hover {
        color: #fff;
      }
    }

    &:before {
      font-size: 35px;
    }
  }

  &--small {
    max-width: 260px;
    padding: 45px 40px;
    background-image: url("../img/form-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-family: $title_family, serif;
    color: $accent;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

}

/* Custom checkbox */
.label {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  
  .checkbox {
    margin-right: 10px;
  }
}

.checkbox {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 1px solid #fff;
  flex-shrink: 0;

  [type="checkbox"], [type="radio"] {
    display: none;

    & + span {
      display: none;
    }

    &:checked + span {
      display: block;
    }
  }

  [type="radio"] + span {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  [type="checkbox"] + span {
    position: absolute;
    top: -2px;
    left: 3px;
    width: 15px;
    height: 11px;
    background-size: cover;
    background-image: url('../img/checkbox.png');
  }

}
/* End Custom checkbox */

.question {
  
  &__error {
    display: none;
    margin: 10px 0;
    color: red;
    text-align: center;
  }

  &.has-error {
    .question__error {
      display: block;
    }
  }
}

.ukazat {
  outline: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 15px 3px;
  width: 100%;
  max-width: 216px;
  background-color: transparent;

  &::placeholder {
    font-size: 12px;
    font-style: italic;
  }
}