
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .header {
    .logo {
      // margin-left: 0;
    }
  }
	.main-menu {
    ul {
      li {
        margin: 0 30px;
      }
    }
  }

  .s-reviews {
    .carousel-reviews {
      .owl {
        &-nav {
          position: static;
          justify-content: center;
        }
      }
    }
    .review {
      max-width: 100%;
      &__block {
        padding-left: 200px;
        max-width: 825px;
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
    &__top {
      margin-bottom: 0;
    }
    .logo {
      margin-left: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #1a1a1a;
    position: fixed;
    top: 73px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-why {
    .why {
      margin-left: 10px;
      &::before {
        left: -10px;
      }
      ul {
        margin-left: 0;
      }
    }
  }

  .s-reviews {
    .carousel-reviews {
      .owl {
        &-item {
          padding: 45px 10px 15px 10px;
        }
      }
    }
    .review {
      flex-direction: column;
      background-color: #1a1a1a;
      &__img {
        position: static;
        margin-top: -45px;        
        align-self: center;
      }
      &__block {
        padding-left: 20px;
        box-shadow: none;
      }
      &__name, &__summary {
        text-align: center;
      }
    }
  }

  .s-question {
    .question {
      display: block;
      text-align: center;
      &__podarok {
        margin: 15px 0;
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 18px;
    }      
  }

  .s {
    &-main {
      .container {
        &::before {
          display: none;
        }
      }
      &__kurs {
        margin-left: 0;
        &__text {
          margin-left: 0;
          margin-bottom: 50px;
        }
      }
      &__title {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
      }
      .question {
        margin-left: 0;
        text-align: center;
        &__title {
          margin-bottom: 20px;
          font-size: 16px;
        }
        .button {
          margin-bottom: 15px;
        }
        &__instrument {
          max-width: none;
        }
      }
    } 

    &-why {
      .why {
        margin-left: 0;
        padding-top: 0;
        &::before {
          display: none;
        }
        &__title {
          margin-bottom: 25px;
        }
        ul {
          li {
            margin-bottom: 15px;
            min-height: 0;
            padding-left: 45px;
            font-size: 15px;
            &::before {
              width: 30px;
              height: 10px;
            }
          }
        }
      }
    }

    &-sfera {
      .sfera {
        margin-bottom: 20px;
        &__img {
          width: 40px;
          height: 40px;
          margin-right: 15px;
        }
        &__title {
          font-size: 16px;
        }
      }
    }

    &-spiker {
      .spiker {
        &__img {
          img {
            margin: 0 auto;
          }          
        }
      }
      ul {
        margin-left: 0;
      }
    }

    &-program {
      &__content {
        display: none;
      }
      .carousel-program {
        display: block;
      }
      .program {
        &__content {
          display: block;
        }
      }
    }

    &-contact {
      .contact {
        &__content {
          display: block;
          margin: 0;
        }
        &__phone {
          margin-bottom: 15px;
        }
        &__address {
          font-size: 13.5px;
        }
      }
    }

    &-thanks {
      &__content {
        margin-left: 0;
      }
      .container {
        &::before {
          display: none;
        }
      }
    }
  }

  .day {
    &__content {
      display: block;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .callback__wrapper {
    display: block !important; 
  }

  .page-top {
    bottom: 80px;
  }

  .remodal {
    padding: 25px 10px;
  }

  .s-kurs {
    &__text {
      margin-bottom: 30px;
    }
    .kurs {
      display: block;
      padding: 15px;
      &__img {
        text-align: center;
        margin-right: 0;
      }
      &__title {
        max-width: none;
        text-align: center;
        font-size: 15px;
      }
    }
  }

  .s-paket {
    .paket {
      &__title{
        margin-bottom: 10px;
      }
      &__bonus {
        font-size: 15px;
        letter-spacing: -0.5px;
      }
      &__text {
        margin-left: 0;
        font-size: 14px;
      }
    }
  }

  .s-program {
    .program {
      padding: 20px 0 0 40px;
      &__day {
        padding: 20px 30px 20px 10px;
        font-size: 10px;
        .num {
          font-size: 32px;
        }
      }
      &__block {
        padding: 15px 10px;
        min-height: none;
      }
      ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  .s-question {
    .question {
      &__title {
        font-size: 16px;
        margin-bottom: 15px;
      }
      &__podarok {
        margin: 10px 0;
      }
      &__instrument {
        font-size: 14px;
      }
    }    
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .dostup {
    &__title {
      letter-spacing: -0.2px;
    }
  }

  .day {
    .remodal-close--white {
      color: #1a1a1a;
    }
    
    &__form {
      max-width: none;
      padding: 10px;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}